<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2">Reset password</h1>
                    <p class="lead">
                        Enter your email to reset your password.
                    </p>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form [formGroup]="otpForm" (ngSubmit)="sendOtp() ">
                                <div class="form-group" >
                                    <label>Email</label>
                                    <input class="form-control form-control-lg"  formControlName="email" type="email" name="email" placeholder="Enter your email">
                                </div>
                                <div class="text-center mt-3">
                                    <button type="submit" class="btn btn-lg btn-primary"  data-toggle="modal" data-target="#exampleModal">Send Otp</button>
                                    <!-- <button type="submit" class="btn btn-lg btn-primary">Reset password</button> -->
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</div>


  
  <!-- Modal -->
  <div *ngIf="showModalBox" class="modal fade" ba  id="exampleModal" data-backdrop="false" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter your OTP</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="modal-body ">
          <form id="otpverify">
          
            <div class="form-row" style="margin-left: 80px;">
              <input type="number"  id="otpValue" class="form-input" placeholder="Enter the OTP">		
            </div>
          <br>
            <div class="row">
              <!-- <button id="verify" (click)="verifyOTP()"  type="button" class="btn btn-secondary" style="margin-left: 120px;width:100px;">Verify</button> -->
              <span *ngIf="otpError" [innerHTML]="otpError" style="color:red"></span>	
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="verifyOTP()">Continue</button>
        </div>
      </div>
    </div>
  </div>


